/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.text-area, .text-area .viewport, .text-area .content 
{
    -fx-background-color: transparent ;
}

.text-input
{
	-fx-text-inner-color: #d7d5d9;
}

.scroll-pane, .scroll-pane .viewport, scroll-pane .content
{
	-fx-background-color: transparent ;
}

.scroll-bar:vertical
{
	-fx-background-color: #202225;
}

.scroll-bar:vertical .thumb
{
	-fx-background-color: #2f3136;
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow
{
    -fx-background-color: transparent;
}